/*

	Ferramenta Sentimento

*/
#exp #chart {
  margin: 3em auto 0;
  width: 1000px;
  height: 400px;
}
#exp #chart + nav {
  text-align: center;
  margin-top: 4em;
}
#exp #chart + nav > ul li {
  list-style: none;
  cursor: pointer;
  border-radius: .8em;
  padding: .5em 2.5em;
  color: #fff;
  background-color: #666;
  font-size: 1em;
  font-weight: 700;
  text-align: left;
  margin: 0 .2em;
}
#exp #chart + nav > ul li span {
  display: block;
  font-size: .8em;
}
#exp #chart + nav > ul li:nth-child(1) {
  background-color: #F8D763;
}
#exp #chart + nav > ul li:nth-child(2) {
  background-color: #57BD6E;
}
#exp #chart + nav > ul li:nth-child(3) {
  background-color: #56A7DC;
}
#exp #chart + nav > ul li:nth-child(4) {
  background-color: #E9000D;
}
#exp #chart + nav > ul li:nth-child(5) {
  background-color: #333;
}
#exp line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
#exp line.eixo_h {
  stroke-width: 1;
  stroke: #fff;
}
#exp .area {
  opacity: .7;
  transition: opacity 0.5s ease-out;
}
#exp .area.off {
  opacity: 0;
}
#exp .area.on {
  opacity: .7;
}
.group.off {
  opacity: 0;
}
.group circle {
  opacity: .5;
  cursor: pointer;
  fill: #fff;
}
.group circle:hover {
  opacity: 1;
  r: 7;
}
#dias .text {
  fill: #fff;
  font-weight: 700;
  font-size: 1.2em;
}
#chart .d3-tip {
  font-size: .9em;
  line-height: 1.6em;
}

/*

	Estilos Site Olimpíadas
	------------------------
	Pierre Dechery | 06-2016

*/
.bghome {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5800+0,ffad01+100 */
  background: #ff5800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1cb7a2 0%, #0f6eac 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1cb7a2 0%, #0f6eac 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1cb7a2 0%, #0f6eac 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5800', endColorstr='#ffad01', GradientType=0);
  /* IE6-9 */
}
.bgtermometro {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5800+0,ffad01+100 */
  background: #ff5800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff5800 0%, #ffad01 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff5800 0%, #ffad01 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff5800 0%, #ffad01 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5800', endColorstr='#ffad01', GradientType=0);
  /* IE6-9 */
}
.bgtimebrasil {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5800+0,ffad01+100 */
  background: #ff5800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcd42f 0%, #16a85f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fcd42f 0%, #16a85f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fcd42f 0%, #16a85f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5800', endColorstr='#ffad01', GradientType=0);
  /* IE6-9 */
}
.bginsights {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5800+0,ffad01+100 */
  background: #ff5800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b83337 0%, #6c328a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b83337 0%, #6c328a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b83337 0%, #6c328a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5800', endColorstr='#ffad01', GradientType=0);
  /* IE6-9 */
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-size: cover;
  background-position: center;
}
ul {
  list-style-type: none;
  margin: 0 0 0;
  padding: 0 0 0;
}
ul li {
  display: inline-block;
}
ul li a {
  color: #fff;
  text-decoration: none;
}
h2 {
  margin: 0 0 0;
  padding: 0 0 0;
}
/*

	Estrutura Layout

*/
section.panel {
  z-index: 20;
}
.vinheta {
  background-size: cover;
}
.wrap {
  width: 1040px;
  height: 670px;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  z-index: 100;
}
.wrap header h2 {
  font-weight: 400;
  font-size: 2em;
}
.wrap header h2 span {
  display: block;
  font-size: .6em;
  font-weight: 300;
  font-style: italic;
}
.vinheta {
  position: relative;
}
.vinheta a.logo {
  position: absolute;
  top: 4.5em;
  left: 50%;
  margin-left: -120px;
  width: 240px;
  height: 30px;
  z-index: 15;
}
.vinheta header {
  text-align: center;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 1px;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}
.vinheta header .fundo {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: .4;
  z-index: 5;
}
.vinheta header .logo_dapp {
  position: absolute;
  top: 2em;
  right: 50%;
  margin-right: -122px;
  display: block;
  width: 245px;
  height: 25px;
  z-index: 10;
}
.vinheta header .logo_brandwatch {
  position: absolute;
  bottom: 2em;
  right: 50%;
  margin-right: -60px;
  display: block;
  width: 120px;
  height: 32px;
  z-index: 10;
}
.vinheta header .trasso {
  position: absolute;
  background-color: #fff;
  width: 230px;
  height: 9px;
  top: 30%;
  left: 9px;
  line-height: .4em;
  z-index: 10;
}
.vinheta header > h2 {
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  font-size: 10em;
  line-height: 1em;
  top: 45%;
  left: 0;
  width: 1300px;
  height: 180px;
  margin-top: -60px;
  z-index: 10;
}
.vinheta header > h2 span {
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  display: block;
  font-size: .25em;
  line-height: 1em;
}
#home header #presents {
  position: absolute;
  top: 4em;
  right: 50%;
  margin-right: -122px;
  display: block;
  width: 245px;
  height: 25px;
  z-index: 10;
  font-size: 1.2em;
}
#home header .fundo {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5800+0,ffad01+100 */
  background: #ff5800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1cb7a2 0%, #0f6eac 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1cb7a2 0%, #0f6eac 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1cb7a2 0%, #0f6eac 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5800', endColorstr='#ffad01', GradientType=0);
  /* IE6-9 */
}
#term header .fundo {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5800+0,ffad01+100 */
  background: #ff5800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff5800 0%, #ffad01 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff5800 0%, #ffad01 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff5800 0%, #ffad01 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5800', endColorstr='#ffad01', GradientType=0);
  /* IE6-9 */
}
#term header > h2 {
  font-size: 8em;
  top: 50%;
  height: 250px;
  margin-top: -125px;
}
#time header .fundo {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5800+0,ffad01+100 */
  background: #ff5800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcd42f 0%, #16a85f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fcd42f 0%, #16a85f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fcd42f 0%, #16a85f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5800', endColorstr='#ffad01', GradientType=0);
  /* IE6-9 */
}
#lastvin header .fundo {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5800+0,ffad01+100 */
  background: #ff5800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b83337 0%, #6c328a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b83337 0%, #6c328a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b83337 0%, #6c328a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5800', endColorstr='#ffad01', GradientType=0);
  /* IE6-9 */
}
#lastvin header a#link {
  position: absolute;
  top: 45%;
  right: 2em;
  border: 1px solid #fff;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  padding: .6em 1em;
  color: #fff;
  text-decoration: none;
  z-index: 10;
}
#lastvin header a#link:hover {
  background-color: #fff;
  color: #000;
}
div#arrow-nav {
  position: absolute;
  right: .25em;
  top: 50%;
  width: 40px;
  height: 70px;
  margin-top: -35px;
  color: #fff;
  font-size: 4em;
  line-height: .5em;
  cursor: pointer;
  z-index: 110;
}
div#arrow-nav path:hover {
  fill: #000;
}
div#arrow-nav.off {
  display: none;
}
nav.menu-slides {
  position: absolute;
  z-index: 110;
  left: 50%;
  bottom: 2em;
  width: 200px;
  height: 20px;
  margin-left: -100px;
  display: inline-block;
  text-align: center;
}
nav.menu-slides > ul li {
  margin: 0 .2em;
}
nav.menu-slides > ul li a {
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  transition: border-color 0.5s ease-out;
  padding: 6px;
  border-radius: 50%;
  display: block;
}
nav.menu-slides > ul li a span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  background-color: #fff;
}
nav.menu-slides > ul li a.ativo {
  border-color: #fff;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}
nav.menu-social {
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: 20;
  width: 170px;
  height: 30px;
  text-align: right;
}
nav.menu-social > ul li {
  margin-left: 1em;
}
nav.menu-social > ul li a {
  color: #999;
  font-size: 1.6em;
}
nav.menu-social > ul li a:hover {
  color: #fff;
}
.open_overlay {
  position: absolute;
  z-index: 20;
  top: 50%;
  right: -6em;
  width: 100px;
  height: 30px;
  margin-top: -50px;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  transform: rotate(90deg);
  transform-origin: left top 0;
  cursor: pointer;
}
.open_overlay:hover {
  color: #000;
}
.overlay {
  position: fixed;
  background-color: #fff;
  opacity: .9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: none;
  padding: 70px 0;
  overflow: auto;
  -webkit-animation: show .4s ease;
  -moz-animation: show .4s ease;
  -ms-animation: show .4s ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.overlay .close_overlay {
  position: fixed;
  display: block;
  top: 1em;
  right: 1em;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
.overlay .close_overlay:hover g {
  fill: #000;
}
.overlay .texto {
  width: 90%;
  max-width: 980px;
  margin: 30px auto;
  color: #000;
  font-size: 1.4em;
  line-height: 1.3em;
}
.overlay.aberto {
  display: block;
}
#video_overlay {
  display: block;
  background-color: #000;
  z-index: 15;
  opacity: .4;
}
#cloud {
  width: 850px;
  height: 250px;
  margin: 1em auto 0;
}
#cloud .cloud-canvas {
  font-weight: 700;
}
/*

	Ferramenta Sentimento

*/
#exp #chart {
  margin: 3em auto 0;
  width: 1000px;
  height: 400px;
}
#exp #chart + nav {
  text-align: center;
  margin-top: 4em;
}
#exp #chart + nav > ul li {
  list-style: none;
  cursor: pointer;
  border-radius: .8em;
  padding: .5em 2.5em;
  color: #fff;
  background-color: #666;
  font-size: 1em;
  font-weight: 700;
  text-align: left;
  margin: 0 .2em;
}
#exp #chart + nav > ul li span {
  display: block;
  font-size: .8em;
}
#exp #chart + nav > ul li:nth-child(1) {
  background-color: #F8D763;
}
#exp #chart + nav > ul li:nth-child(2) {
  background-color: #57BD6E;
}
#exp #chart + nav > ul li:nth-child(3) {
  background-color: #56A7DC;
}
#exp #chart + nav > ul li:nth-child(4) {
  background-color: #E9000D;
}
#exp #chart + nav > ul li:nth-child(5) {
  background-color: #333;
}
#exp line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
#exp line.eixo_h {
  stroke-width: 1;
  stroke: #fff;
}
#exp .area {
  opacity: .7;
  transition: opacity 0.5s ease-out;
}
#exp .area.off {
  opacity: 0;
}
#exp .area.on {
  opacity: .7;
}
.group.off {
  opacity: 0;
}
.group circle {
  opacity: .5;
  cursor: pointer;
  fill: #fff;
}
.group circle:hover {
  opacity: 1;
  r: 7;
}
#dias .text {
  fill: #fff;
  font-weight: 700;
  font-size: 1.2em;
}
#chart .d3-tip {
  font-size: .9em;
  line-height: 1.6em;
}
/*

	Termômetro de Temas

*/
#vis-container {
  margin: 4em auto 0;
  width: 1000px;
  height: 230px;
}
#vis-temas #legendas {
  margin-top: 2em;
  text-align: center;
}
#vis-temas #legendas .col {
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  border: 1px solid #fff;
  text-align: left;
  padding-left: 1em;
}
#vis-temas #legendas .col:first-child {
  margin-right: 400px;
}
#vis-temas #legendas .col h3 {
  color: #fff;
  font-weight: 400;
}
#vis-temas #legendas .col h3 span {
  display: block;
  font-size: .8em;
  font-weight: 300;
  font-style: italic;
}
.arc {
  opacity: .5;
}
#vis-time .col {
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  width: 500px;
  height: 300px;
  position: relative;
  text-align: left;
  padding-left: 1em;
  margin-left: 20px;
}
#vis-time .col:first-child {
  margin-left: 0;
}
#vis-time .col h3 {
  color: #fff;
  font-weight: 400;
}
#vis-time .col h3 span {
  display: block;
  font-size: .8em;
}
#vis-time .col p {
  padding: .6em 1em;
  margin: 0;
}
#vis-time .col p.even {
  color: #000;
  background: url('../img/bg_transp.png') 0 0 repeat;
}
/*

	Tooltips 
	------------------------
	Pierre Dechery | 06-2016

*/
.d3-tip-term,
.d3-tip-exp {
  line-height: .8em;
  padding: 1em 1.5em;
  color: #000;
  border-radius: 6px;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.6);
}
.pos {
  color: #007c00;
}
.neg {
  color: #9b002a;
}
.d3-tip-exp {
  padding: 1.5em 2em 1em;
}
.d3-tip-exp p.data {
  font-weight: 700;
  margin: 0 0 .5em;
  padding: 0 0.3em;
  text-align: center;
  font-size: 1.1em;
}
.d3-tip-exp p.mencoes {
  line-height: 1.1em;
  margin: 0 0 0;
  padding: 0 0 0;
}
.d3-tip-term p:first-child {
  margin: 0 0 1em;
  padding: 0 0;
  text-align: center;
  font-size: 1em;
}
.d3-tip-term p:last-child {
  margin: .2em 0 0;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}

/*

	Termômetro de Temas

*/
#vis-container {
  margin: 4em auto 0;
  width: 1000px;
  height: 230px;
}
#vis-temas #legendas {
  margin-top: 2em;
  text-align: center;
}
#vis-temas #legendas .col {
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  border: 1px solid #fff;
  text-align: left;
  padding-left: 1em;
}
#vis-temas #legendas .col:first-child {
  margin-right: 400px;
}
#vis-temas #legendas .col h3 {
  color: #fff;
  font-weight: 400;
}
#vis-temas #legendas .col h3 span {
  display: block;
  font-size: .8em;
  font-weight: 300;
  font-style: italic;
}
.arc {
  opacity: .5;
}

#vis-time .col {
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  width: 500px;
  height: 300px;
  position: relative;
  text-align: left;
  padding-left: 1em;
  margin-left: 20px;
}
#vis-time .col:first-child {
  margin-left: 0;
}
#vis-time .col h3 {
  color: #fff;
  font-weight: 400;
}
#vis-time .col h3 span {
  display: block;
  font-size: .8em;
}
#vis-time .col p {
  padding: .6em 1em;
  margin: 0;
}
#vis-time .col p.even {
  color: #000;
  background: url('../img/bg_transp.png') 0 0 repeat;
}

/*

	Tooltips 
	------------------------
	Pierre Dechery | 06-2016

*/
.d3-tip-term,
.d3-tip-exp {
  line-height: .8em;
  padding: 1em 1.5em;
  color: #000;
  border-radius: 6px;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.6);
}
.pos {
  color: #007c00;
}
.neg {
  color: #9b002a;
}
.d3-tip-exp {
  padding: 1.5em 2em 1em;
}
.d3-tip-exp p.data {
  font-weight: 700;
  margin: 0 0 .5em;
  padding: 0 0.3em;
  text-align: center;
  font-size: 1.1em;
}
.d3-tip-exp p.mencoes {
  line-height: 1.1em;
  margin: 0 0 0;
  padding: 0 0 0;
}
.d3-tip-term p:first-child {
  margin: 0 0 1em;
  padding: 0 0;
  text-align: center;
  font-size: 1em;
}
.d3-tip-term p:last-child {
  margin: .2em 0 0;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}
