/*

	Ferramenta Sentimento

*/
#exp #chart {
  margin: 3em auto 0;
  width: 1000px;
  height: 400px;
}
#exp #chart #svg_container {
  width: 100%;
  height: 0;
  padding-top: 25%;
  position: relative;
}
#exp #chart #svg_container svg {
  position: absolute;
  top: 0;
  left: 0;
}
#exp #pos_neg {
  width: 83px;
  height: 241px;
  position: absolute;
  transform: translate(0, -60%);
  top: 50%;
  left: -4em;
}
#exp nav#switch {
  text-align: center;
  margin-top: 4em;
}
#exp nav#switch > ul li {
  list-style: none;
  cursor: pointer;
  border-radius: 1.4em;
  padding: .5em 2.5em;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-align: left;
  margin: 0 .2em;
}
#exp nav#switch > ul li span {
  display: block;
  font-size: .8em;
}
#exp nav#switch > ul li:nth-child(1) {
  background-color: #f6ca32;
}
#exp nav#switch > ul li:nth-child(1):hover {
  background-color: #F8D763;
}
#exp nav#switch > ul li:nth-child(2) {
  background-color: #3fa256;
}
#exp nav#switch > ul li:nth-child(2):hover {
  background-color: #57BD6E;
}
#exp nav#switch > ul li:nth-child(3) {
  background-color: #2c91d3;
}
#exp nav#switch > ul li:nth-child(3):hover {
  background-color: #56A7DC;
}
#exp nav#switch > ul li:nth-child(4) {
  background-color: #b6000a;
}
#exp nav#switch > ul li:nth-child(4):hover {
  background-color: #E9000D;
}
#exp nav#switch > ul li:nth-child(5) {
  background-color: #1a1a1a;
}
#exp nav#switch > ul li:nth-child(5):hover {
  background-color: #333;
}
#exp nav#switch > ul li#all {
  color: #000;
  background-color: #fff;
}
#exp nav#switch > ul li#all:hover {
  color: #fff;
  background-color: #000;
}
#exp line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
#exp line.eixo_h {
  stroke-width: 1;
  stroke: #fff;
}
#exp .area {
  opacity: .7;
  transition: opacity 0.5s ease-out;
}
#exp .area.off {
  opacity: 0;
}
#exp .area.on {
  opacity: .7;
}
.group.off {
  opacity: 0;
}
.group circle {
  opacity: .5;
  cursor: pointer;
  fill: #fff;
}
.group circle:hover {
  opacity: 1;
  r: 7;
}
#dias .text {
  fill: #fff;
  font-weight: 700;
  font-size: 1.2em;
}
#chart .d3-tip {
  font-size: .9em;
  line-height: 1.6em;
}
