/* 

	Media Queries

*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
}
@media only screen and (min-width: 1000px) and (max-width: 1600px) {
  .wrap {
    width: 95%;
    height: 95%;
  }
  .vinheta header .trasso {
    top: 25%;
    left: 9px;
  }
  .vinheta header > h2 {
    font-size: 6em;
    width: 900px;
    transform: translate(0, -50%);
  }
  #term header .trasso {
    top: 20%;
  }
  #term header > h2 {
    font-size: 6em;
    top: 50%;
    height: auto;
    transform: translate(0, -50%);
  }
  #exp #chart {
    margin: 1em auto 0;
    width: 800px;
    height: 330px;
  }
  #exp nav#switch {
    margin-top: 1em;
  }
  #exp nav#switch ul li {
    font-size: .8em;
  }
  #exp #pos_neg {
    transform: translate(0, -55%);
    left: -0.9em;
  }
}
