/*

	Termômetro de Temas

*/
#vis-container {
  margin: 4em auto 0;
  width: 1000px;
  height: 230px;
  position: relative;
}
#vis-container .dias {
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 35px;
  text-align: center;
  font-weight: 700;
  font-size: 1.4em;
  top: 100px;
}
#vis-container .dias:nth-child(1) {
  left: 80px;
}
#vis-container .dias:nth-child(2) {
  left: 330px;
}
#vis-container .dias:nth-child(3) {
  left: 600px;
}
#vis-container .dias:nth-child(4) {
  left: 850px;
}
#vis-temas #legendas {
  margin-top: 2em;
  text-align: center;
}
#vis-temas #legendas .col {
  display: inline-block;
  box-sizing: border-box;
  width: 270px;
  border: 1px solid #fff;
  text-align: center;
  padding-left: 1em;
}
#vis-temas #legendas .col:first-child {
  margin-right: 200px;
}
#vis-temas #legendas .col h3 {
  color: #fff;
  font-weight: 400;
}
#vis-temas #legendas .col h3 span {
  display: block;
  font-size: .8em;
  font-style: italic;
}
#vis-temas #msg {
  text-align: center;
  margin-top: 4em;
  font-size: .9em;
  font-weight: 400;
  font-style: italic;
}
.arc {
  opacity: .5;
}
