#vis-time .col {
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  width: 500px;
  height: 300px;
  position: relative;
  text-align: left;
  padding-left: 1em;
  margin-left: 20px;
}
#vis-time .col:first-child {
  margin-left: 0;
}
#vis-time .col h3 {
  color: #fff;
  font-weight: 400;
}
#vis-time .col h3 span {
  display: block;
  font-size: .8em;
}
#vis-time .col p {
  padding: .6em 1em;
  margin: 0;
}
#vis-time .col p.even {
  color: #000;
  background: url('../img/bg_transp.png') 0 0 repeat;
}
