/*

	Tooltips 
	------------------------
	Pierre Dechery | 06-2016

*/
.d3-tip-term,
.d3-tip-exp {
  line-height: .8em;
  padding: 1em 1.5em;
  color: #000;
  border-radius: 6px;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.6);
}
.pos {
  color: #007c00;
}
.neg {
  color: #9b002a;
}
.d3-tip-exp {
  padding: 1.5em 2em 1em;
}
.d3-tip-exp p.data {
  font-weight: 700;
  margin: 0 0 .5em;
  padding: 0 0.3em;
  text-align: center;
  font-size: 1.1em;
}
.d3-tip-exp p.mencoes {
  line-height: 1.1em;
  margin: 0 0 0;
  padding: 0 0 0;
}
.d3-tip-term p:first-child {
  margin: 0 0 1em;
  padding: 0 0;
  text-align: center;
  font-size: 1em;
}
.d3-tip-term p:last-child {
  margin: .2em 0 0;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}
