.bghome {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5800+0,ffad01+100 */
  background: #ff5800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1cb7a2 0%, #0f6eac 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1cb7a2 0%, #0f6eac 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1cb7a2 0%, #0f6eac 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5800', endColorstr='#ffad01', GradientType=0);
  /* IE6-9 */
}
.bgtermometro {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5800+0,ffad01+100 */
  background: #ff5800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff5800 0%, #ffad01 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff5800 0%, #ffad01 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff5800 0%, #ffad01 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5800', endColorstr='#ffad01', GradientType=0);
  /* IE6-9 */
}
.bgtimebrasil {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5800+0,ffad01+100 */
  background: #ff5800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcd42f 0%, #16a85f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fcd42f 0%, #16a85f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fcd42f 0%, #16a85f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5800', endColorstr='#ffad01', GradientType=0);
  /* IE6-9 */
}
.bginsights {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5800+0,ffad01+100 */
  background: #ff5800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b83337 0%, #6c328a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b83337 0%, #6c328a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b83337 0%, #6c328a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5800', endColorstr='#ffad01', GradientType=0);
  /* IE6-9 */
}
@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
