/*

	Estilos Ferramenta Olimpíadas
	-----------------------------
	Pierre Dechery | 07-2016

*/

@amarelo: #F8D763;
@aqua: #57BD6E;
@azul: #56A7DC;
@vermelho: #E9000D;

body {
	font-family: sans-serif;
}

/*
	
	Container HTML

*/

.container {
	margin: 0 auto;
	width: 1000px;
	border: 1px solid #ccc;
}

/*
	
	Container Vis

*/

#chart {
	width: 1000px;
	height: 500px;
}

/*
	
	Menu Switch Chart

*/

#chart + ul {
	text-align: center;
	li {
		list-style: none;
		cursor: pointer;
		display: inline-block;
		border-radius: 1.2em;
		padding: 1em .6em;
		color: #fff;
		text-align: left
		span {
			display: block;
			font-size: .8em;
		}
		&:nth-child(1) {
			background-color: @amarelo;
		}
		&:nth-child(2) {
			background-color: @aqua;
		}
		&:nth-child(3) {
			background-color: @azul;
		}
		&:nth-child(4) {
			background-color: @vermelho;
		}
		&:nth-child(5) {
			background-color: #999;
		}
	}
}

/*
	
	D3 eixos

*/

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/*

	Shape

*/

.area {
	opacity: .5;
	transition: opacity .5s  ease-out;
	&.off {
		opacity: 0;
	}
}

/*

	Dots

*/

.group.off {
	opacity: 0;
}

.group.monitoramento {
	circle {
		fill: @monitoramento;
	}
}

.group.seguranca {
	circle {
		fill: @seguranca;
	}
}

.group.transportes {
	circle {
		fill: @transportes;
	}
}

.group circle {
	opacity: .5;
}

// D3 Tip

.d3-tip {
	font-size: 1.4em!important;
	line-height: 1.2em!important;
}