/*

	Estilos Mapa da Corrupção
	Pierre Dechery
	Maio/2017

 */

/*

	Variáveis

 */

@vinho: #c23d48;
@rosa: #ec7b7d;
@azulescuro: #384975;
@azulescuroplus: #1f2c54;
@azulclaro: #7a89ab;
@azulclaro2: #b9c2d8;
@bege: #e2dab3;
@begeclaro: #fff8d8;
@rosaforte: #f05461;
@rosaclaro: #f5b0ad;
@ocre: #d0c8ae;
@creme_texto: #fff8d8;

// header lateral

.header_lateral() {
	left: 0;
	top: 25%;
	position: absolute;
	width: 55%!important;
	h3, p {
		width: 50%;
	}
}

.table_corrupcao() {
	width: 200px;
	position: absolute;
	right: 60px;
	bottom: 60px;
	font-size: .8em;
	text-transform: uppercase;
	border-collapse:collapse;
	thead {
		text-align: left;
	}
	tr {
		cursor: pointer;
		&:nth-child(2n+1) td {
			background-color: @azulescuroplus;
		}
		&:hover {
			td {
				background-color: @creme_texto!important;
				color: @azulescuroplus!important;
			}
		}
	}
	th, td {
		padding: .2em .4em;
		color: @creme_texto;
	}
}

@font-face {
	font-family: 'vcr_osd_mono';
	-webkit-font-smoothing: none;
	src: url('../fonts/VCR_OSD_MONO_1.001.ttf') format('truetype'); /* Safari, Android, iOS */
	src: url('../fonts/VCR_OSD_MONO_1.001.woff') format('woff'); /* Pretty Modern Browsers */
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-color: @rosa;
	color: #fff;
}

* {
	box-sizing: border-box;
}

/*

	Cores Crimes

 */

.agPol {
	background-color: @vinho;
	fill: @vinho;
}
.finPub {
	background-color: @azulescuroplus;
	fill: @azulescuroplus;
}
.leiLicit {
	background-color: @bege;
	fill: @bege;
}
.crimResp {
	background-color: @rosaforte;
	fill: @rosaforte;
}
.crimeEleit {
	background-color: @azulescuro;
	fill: @azulescuro;
}
.crimFuncPubAdmGer {
	background-color: @begeclaro;
	fill: @begeclaro;
}
.crimPartAdmGer {
	background-color: @rosaclaro;
	fill: @rosaclaro;
}
.crimPartAdmPubEstr {
	background-color: @rosa;
	fill: @rosa;
}
.imprAdm {
	background-color: #fff;
	fill: #fff;
}

/*

	Estrutura

 */

#container {
	h1 {
		font-weight: 800;
		font-family: 'vcr_osd_mono';
	}
	section:not(#header) {
		position: relative;
		header {
			padding: 2em 3em; // y x
			background-color: @azulescuroplus;
			h3 {
				font-family: 'vcr_osd_mono';
				text-transform: uppercase;
				font-size: 3em;
				color: @creme_texto;
				margin-bottom: .5em;
				& + p {
					color: @creme_texto;
					font-size: 1.2em;
				}
			}

		}
	}
	#mapa_processos_acumulado {
		background-color: @azulescuro;
	}
	#serie_historica {
		background-color: @azulclaro;
	}
	#processos_uf {
		background-color: @azulclaro2;
	}
	#mencoes_picos {
		background-color: @azulclaro;
	}
	#processos_tweets_ufs {
		background-color: @azulescuro;
	}
}

.center_1260 {
	width: 1000px;
	margin: 0 auto; // y x
	padding: 1em;
	position: relative;
}

select {
	outline: 0;
	border: 1px solid @creme_texto;
	padding: 10px 5px;
	font-family: 'vcr_osd_mono';
	font-size: 1.2em;
	font-weight: 900;
	background: none;
	color: #fff;
	option {
		white-space: pre;
		text-transform: none;
		font-size: .9em;
		color: #000;
	}
}

/*

	Header (Abertura)

 */

#header {
	color: @azulescuroplus;
	position: relative;
	#dapp_logo {
		width: 200px;
		height: 40px;
		position: absolute;
		top: 30px;
		right: 0;
		svg {
			fill: @azulescuroplus;
		}
	}
	header {
		margin-top: 1em;
		height: 550px;
		svg {
			fill: @azulescuroplus;
			position: absolute;
			top: 220px;
			left: 200px;
			width: 290px;
			height: 220px;
		}
		h1 {
			text-transform: uppercase;
			margin: 100px 0 0;
			padding: 0;
			font-size: 10em;
			color: #e06d70;
		}
	}
	header + p {
		position: absolute;
		top: 120px;
		right: 0;
		width: 350px;
		margin: 40px 0;
		line-height: 1.4em;
		font-size: 1.2em;
		text-align: justify;
	}
}

#mini-header {
	color: @azulescuroplus;
	height: 70px;
	position: fixed!important;
	background-color: @rosa;
	z-index: 20;
	top: -70px;
	left: 0;
	width: 100%;
	transition: top .4s;
	font-family: 'vcr_osd_mono';
	svg {
		fill: @azulescuroplus;
		vertical-align: bottom;
	}
	span {
		float: right;
		display: inline-block;
		margin-top: .3em;
		text-transform: uppercase;
		cursor: pointer;
		border: 2px solid @azulescuroplus;
		padding: .7em 1em;
	}
	h1 {
		display: inline-block;
		text-transform: uppercase;
		margin: 0 0 0 .5em;
		font-size: 2em;
	}
	&.show {
		top: 0;
	}
	.center_1260 {
		padding-top: .5em;
	}
}

/*

	Botão Pig

 */

#botaopig {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: @rosa;
	z-index: 20;
	position: fixed;
	right: 40px;
	bottom: -100px;
	transition: bottom .4s;
	padding: .8em 0 0;
	text-align: center;
	cursor: pointer;
	&.show {
		bottom: 100px;
	}
	svg {
		fill: @azulescuroplus;
	}
	&:hover {
		background-color: @azulescuroplus;
		svg {
			fill: @creme_texto;
		}
	}
}

/*

	Mapa Processos Acumulado

 */

#mapa_processos_acumulado {
	header {
		.header_lateral;
	}
	#mapa_agregado { // g wrapper mapa
		path {
			//stroke: #384975;
			stroke: @azulescuro;
		}
	}
	table#info_table {
		.table_corrupcao;
	}
	#mproc {
		width: 1000px;
		margin: 0 auto;
		.icon { // wrapper circle e image
			cursor: pointer;
			circle {
				opacity: .8;
			}
		}
		.info { // wrapper circles e text (valores)
			opacity: .8;
			&.hidden {
				opacity: 0;
			}
			circle {
				opacity: .8;
			}
			text {
				font-size: .8em;
				font-weight: 700;
				fill: @azulescuroplus;
			}
		}
	}
}

/*
	
	Série Histórica

 */

#serie_historica {
	header {
		position: relative;
		form {
			position: absolute;
			width: 500px;
			right: 40px;
			top: 90px;
			select {
				width: 500px;
				// color: @creme_texto;
				// font-family: 'vcr_osd_mono';
			}
		}
	}
	#srhist {
		// width: 1000px;
		margin: 1em auto 0;
		svg {
			margin-top: 2em;
		}
		select {
			font:1.5em;
		}
		.axis {
			.tick {
				text {
					font-size: 1.3em;
					fill: #fff;
				}
			}
			&.x {
				.tick {
					text {
						font-weight: 700;
					}
				}
			}
		}
		#legendas-container {
			.legendas {
				text {
					fill: #fff;
				}
				border: 1px solid red;
				margin-bottom: 1em;
			}
		}
	}
}

/*

	Mapa Processos por UF

 */

#processos_uf {
	header {
		position: relative;
		form {
			position: absolute;
			width: 1200px;
			right: 40px;
			top: 90px;
			text-align: right;
			select {
				width: 400px;
				margin-right: 1em;
			}
		}
	}
	.center_1260 {
		padding-top: 50px!important;
	}
	#procuf {
		position: relative;
		.box {
			box-sizing: border-box;
			position: absolute;
	    	cursor: pointer;
	    	color: @azulescuroplus;
	    	font-size: 1.2em;
	    	opacity: .8;
	    	span {
	    		font-size: 1em;
	    		display: inline-block;
	    		padding: .5em; // y x
				&.hidden {
		    		display: none;
		    	}
	    	}
	    	&.hidden {
	    		display: none;
	    	}
		}
	}
}

/*

	Bar Chart Tweets

 */

#mencoes_picos {
	header {
		position: relative;
		form {
			position: absolute;
			width: 1200px;
			right: 40px;
			top: 90px;
			text-align: right;
			select {
				width: 400px;
				margin-right: 1em;
			}
		}
	}
	.center_1260 {
		padding: 60px 0 40px!important;
	}
	#mencpic {
		position: relative;
		rect {
			cursor: pointer;
		}
		.bars {
			transition: fill .6s;
			fill: @rosaforte;
			&.active {
				fill: #fff;
			}
		}
		#eixo_x,
		#eixo_y {
			.tick {
				text {
					font-size: 1.3em;
					fill: @begeclaro;
				}
			}
		}
	}
}

/*
	
	Processos e Tweets por UF

 */

#processos_tweets_ufs {
	position: relative;
	header {
		.header_lateral;
	}
	form#filtro_tweets {
		width: 200px;
		position: absolute;
		top: 500px;
		left: 50px;
		text-align: center;
		select {
			min-width: 200px;
		}
	}
	table#info_table_tweets {
		.table_corrupcao;
		right: 120px;
		bottom: 60px;
	}
	#proctweet {
		#map { // g wrapper mapa
			path {
				stroke: #475b8e;
			}
		}
		.bola { // g wrap circle e imagem
			circle {
				fill: @creme_texto;
				opacity: .8;
			}
			image {
				fill: @azulescuroplus;
			}
		}
		.circle_info { // g wrap circle e text info
			circle {
				fill: @creme_texto;
			}
			text {
				font-size: .8em;
				font-weight: 700;
				fill: @azulescuroplus;
			}
			opacity: .8;
			&.hidden {
				opacity: 0;
			}
		}
	}
}

/*

	Footer

 */

footer {
	.center_1260 {
		padding: 30px 0 100px;
	}
	svg {
		fill: @azulescuroplus;
	}
	color: @azulescuroplus;
	text-align: center;
}

/*	
	
	Tooltips

*/

div.tooltip-acumulado, 
div.tooltip-stack {
	font-weight: 400;
	position: absolute;
	opacity: .8;
	span {
		font-weight: 700;
	}
	&.hidden {
		display: none;
	}
}

div.tooltip-stack {
	min-width: 200px;
	color: #fff;
	background-color: #000;
	text-align: left;
	padding: 1em;
	line-height: 1.6em;
	p {
		padding: .4em 0;
		margin: 0;
	}
	span {
		display: inline-block;
		margin-right: 10px;
		width: 10px;
		height: 10px;
	}
}

div.tooltip-acumulado {
	background-color: #fff;
	color: @azulescuroplus;
	text-align: center;
	padding: .5em;
}

.chamada {
	position: absolute;
	width: 400px;
	background-color: #fff;
	opacity: .8;
	color: @azulescuroplus;
	z-index: 20;
	padding: 2em 3em;
	&.hidden {
		display: none;
	}
}

/*
	Overlay

 */

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	opacity: .95;
	background: @rosa;
	z-index: 100;
	color: @azulescuroplus;
	padding: 3em 0 9em;
	.close {
		width: 100px;
		position: absolute;
		top: 25px;
		right: 35px;
		cursor: pointer;
		text-align: center;
	}
	&.show {
		display: block;
	}
	& > div {
		display: table;
		width: 100%;
		height: 100%;
		& > div {
			display: table-cell;
		}
	}
}

/*

	Clearfix

 */

.clearfix:after {
	content:"";
	display: table;
	clear: both;
}