/*

	Ferramenta Sentimento

*/

// variáveis less

@amarelo: #F8D763;
@aqua: #57BD6E;
@azul: #56A7DC;
@vermelho: #E9000D;

// container vis

#exp #chart {
	margin: 3em auto 0;
	width: 1000px;
	height: 400px;
	#svg_container {
		width: 100%;
		height: 0;
		padding-top: 25%;
		position: relative;
		svg {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

#exp #pos_neg {
	width: 83px;
	height: 241px;
	position: absolute;
	transform: translate(0, -60%);
	top: 50%;
	left: -4em;
}

// menu switch areas

#exp nav#switch {
	text-align: center;
	margin-top: 4em;
	> ul {
		li {
			list-style: none;
			cursor: pointer;
			border-radius: 1.4em;
			padding: .5em 2.5em;
			color: #fff;
			font-size: 1em;
			font-weight: 700;
			text-align: left;
			margin: 0 .2em;
			span {
				display: block;
				font-size: .8em;
			}
			&:nth-child(1) {
				background-color: darken(@amarelo, 10%);
				&:hover {
					background-color: @amarelo;
				}
			}
			&:nth-child(2) {
				background-color: darken(@aqua, 10%);
				&:hover {
					background-color: @aqua;
				}
			}
			&:nth-child(3) {
				background-color: darken(@azul, 10%);
				&:hover {
					background-color: @azul;
				}
			}
			&:nth-child(4) {
				background-color: darken(@vermelho, 10%);
				&:hover {
					background-color: @vermelho;
				}
			}
			&:nth-child(5) {
				background-color: darken(#333, 10%);
				&:hover {
					background-color: #333;
				}
			}
			&#all {
				color: #000;
				background-color: #fff;
				&:hover {
					color:#fff;
					background-color: #000;
				}
			}
		}
	}
}

// linhas

#exp line {
	fill: none;
	stroke: #fff;
	shape-rendering: crispEdges;
	&.eixo_h {
		stroke-width:1;
		stroke: #fff;
	}
}

// shape

#exp .area {
	opacity: .7;
	transition: opacity .5s ease-out;
	&.off {
		opacity: 0;
	}
	&.on {
		opacity: .7;
	}
}

// dots

.group.off {
	opacity: 0;
}

.group circle {
	opacity: .5;
	cursor: pointer;
	fill: #fff;
	&:hover {
		opacity: 1;
		r: 7;
	}
}

// Texto Dias

#dias {
	.text {
		fill: #fff;
		font-weight: 700;
		font-size: 1.2em;
	}
}

// D3 Tip

#chart .d3-tip {
	font-size: .9em;
	line-height: 1.6em;
}