/*

	Estilos Site Olimpíadas
	------------------------
	Pierre Dechery | 06-2016

*/

@import "variaveis";

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: #fff;
	background-size: cover;
	background-position: center;
}

// normalize

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0 0 0;
	padding: 0 0 0;
	li {
		display: inline-block;
		a {
			color:#fff;
			text-decoration: none;
		}
	}
}

h2 {
	margin: 0 0 0;
	padding: 0 0 0;
}

/*

	Estrutura Layout

*/

section.panel {
	z-index: 20;
}

.vinheta {
	background-size: cover;
}

// wrapper conteúdo seções

.wrap {
	width: 1040px;
	height: 670px;
	margin: 0 auto;
	padding: 1em;
	position: relative;
	z-index: 100;
	header {
		h2 {
			font-weight: 400;
			font-size: 2em;
			span {
				display: block;
				font-size: .6em;
				font-weight: 300;
				font-style: italic;
			}
		}
	}
}

// vinhetas

.vinheta {
	position: relative;
	header {
		text-align: center;
		width: 90%;
		height: 90%;
		margin: 0 auto;
		padding: 1px;
		position: relative;
		background-size: cover;
		background-position: 50% 50%;
		.fundo {
			position: absolute;
			width: 50%;
			height: 100%;
			top: 0;
			right: 0;
			opacity: .4;
			z-index: 5;
		}
		.logo_dapp {
			position: absolute;
			top: 2em;
			right: 50%;
			width: 245px;
			height: 25px;
			transform: translate(50%,0);
			display: block;
			z-index: 10;
		}
		.logo_brandwatch {
			position: absolute;
			bottom: 2em;
			right: 50%;
			transform: translate(50%,0);
			display: block;
			width: 120px;
			height: 32px;
			z-index: 10;
		}
		.trasso {
			position: absolute;
			background-color: #fff;
			width: 230px;
			height: 9px;
			top: 30%;
			left: 9px;
			line-height: .4em;
			z-index: 10;
		}
		> h2 {
			text-align: left;
			text-transform: uppercase;
			position: absolute;
			font-size: 10em;
			line-height: 1em;
			top: 45%;
			left: 0;
			width: 1300px;
			transform: translate(0, -50%);
			z-index: 10;
			span {
				font-weight: 300;
				font-style: italic;
				text-transform: none;
				display: block;
				font-size: .25em;
				line-height: 1em;
			}
		}
	}
}

// headers específicos

#home {
	header {
		#presents {
			position: absolute;
			top: 4em;
			right: 50%;
			width: 245px;
			height: 25px;
			transform: translate(50%,0);
			display: block;
			z-index: 10;
			font-size: 1.2em;
		}
		.fundo {
			.bghome;
		}
	}
}

#term {
	header {
		.fundo {
			.bgtermometro;
		}
		> h2 {
			font-size: 8em;
			top: 50%;
			height: 250px;
			transform: translate(0, -15%);
		}
	}
}

#time {
	header {
		.fundo {
			.bgtimebrasil;
		}
	}
}

#lastvin {
	header {
		.fundo {
			.bginsights;
		}
		a#link {
			position: absolute;
			top: 50%;
			right: 2em;
			transform: translate(0, -50%);
			border: 2px solid #fff;
			display: block;	
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.4em;
			padding: .6em 1.5em;
			color: #fff;
			text-decoration: none;
			z-index: 10;
			border-radius: 24px;
			&:hover {
				background-color: #fff;
				color: #000;
			}
		}
	}
}

// seta navegação direita

div#arrow-nav {
	position: absolute;
	right: .25em;
	top: 50%;
	width: 40px;
	height: 70px;
	margin-top: -35px;
	color: #fff;
	font-size: 4em;
	line-height: .5em;
	cursor: pointer;
	z-index: 110;
	path:hover {
		fill: #000;
	}
	&.off {
		display: none;
	}
}

// navegação slides (bolinhas)

nav.menu-slides {
	position: absolute;
	z-index: 110;
    left: 50%;
    bottom: 2em;
	width: 200px;
	height: 20px;
	margin-left: -100px;
	display: inline-block;
	text-align: center;
	//transition: opacity .5s  ease-out;
	> ul li {
		margin: 0 .2em;
		a {
			border-color: transparent;
			border-width: 2px;
			border-style: solid;
			transition: border-color .5s  ease-out;
			padding: 6px;
			border-radius: 50%;
			display: block;
			span {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				display: block;
				background-color: #fff;
			}
			&.ativo {
				border-color: #fff;
			}
		}
	}
}

// video

video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	z-index: 10;
}

// menu links redes

nav.menu-social {
	position: absolute;
	bottom: 1.5em;
	right: 1.5em;
	z-index: 20;
	width: 170px;
	height: 30px;
	text-align: right;
	> ul li {
		margin-left: 1em;
		a {
			color: #fff;
			font-size: 1.8em;
			&:hover {
				color: #000;
			}
		}
	}
}

// link legenda

.open_overlay {
	position: absolute;
	z-index: 20;
	top: 1em;
	right: 0;
	padding: .5em 1em;
	border: 2px solid #fff;
	border-radius: 17px;
	font-weight: 700;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	&:hover {
		color: #000;
		border: 2px solid #000;
	}
}

// overlay

.overlay {
	position:fixed;
	background-color: #fff;
	box-sizing: border-box;
	opacity: .9;
	top: 50%;
	left: 50%;
	width: 1040px;
	height: 670px;
	transform: translate(-50%,-50%);
	z-index: 500;
	display: none;
	padding: 40px 0 0;
	overflow: auto;
	-webkit-animation: show .4s ease;
	-moz-animation: show .4s ease;
	-ms-animation: show .4s ease;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	.close_overlay {
		position: fixed;
		display: block;
		top: 1em;
		right: 1em;
		width: 27px;
		height: 27px;
		cursor: pointer;
		&:hover {
			g {
				fill: #000;
			}
		}
	}
	.texto {
		width: 90%;
		max-width: 980px;
		margin: 30px auto;
		color: #000;
		font-size: 1.4em;
		line-height: 1.3em;
	}
	&.aberto {
		display: block;
	}
}

// cores texto vinhetas

// #exp-ol {
// 	.bghome
// }

// #term-ol {
// 	.bgtermometro;
// }

// #time-ol {
// 	.bgtimebrasil;
// }

// #ins-ol {
// 	.bginsights;
// }

// video overlay

#video_overlay {
	display: block;
	background-color: #000;
	z-index: 15;
	opacity: .4;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%,-50%);
	overflow: auto;
	-webkit-animation: show .4s ease;
	-moz-animation: show .4s ease;
	-ms-animation: show .4s ease;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

// Nuvem palavras

#cloud {
	width: 850px;
	height: 250px;
	margin: 1em auto 0;
	.cloud-canvas {
		font-weight: 700;
		//text-transform: uppercase;
	}
}

// Imports

@import "ferramenta";

@import "termometro";

@import "timebrasil";

@import "tooltip";

@import "responsive";