/* 

	Media Queries

*/

// ipad

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	// 

}

// notebook

@media only screen and (min-width: 1000px) and (max-width: 1600px)  { 

	.wrap {
		width: 95%;
		height: 95%;
		// border: 1px dashed blue;
	}

	.vinheta header {
		.trasso {
			top: 25%;
			left: 9px;
		}
		> h2 {
			font-size: 6em;
			width: 900px;
			transform: translate(0, -50%);
		}
	}

	#term {
		header {
			.trasso {
				top: 20%;
			}
			> h2 {
				font-size: 6em;
				top: 50%;
				height: auto;
				transform: translate(0, -50%);
			}
		}
	}

	#exp {
		#chart {
			// border: 1px dashed green;
			margin: 1em auto 0;
			width: 800px;
			height: 330px;
		}
		nav#switch {
			margin-top: 1em;
			ul li {
				font-size: .8em;
			}
		}
		#pos_neg {
			transform: translate(0, -55%);
			left: -.9em;
		}
	}

}