/*

	Termômetro de Temas

*/

#vis-container {
	margin: 4em auto 0;
	width: 1000px;
	height: 230px;
	position: relative;
	.dias {
		position: absolute;
		display: inline-block;
		width: 70px;
		height: 35px;
		text-align: center;
		font-weight: 700;
		font-size: 1.4em;
		top: 100px;
		&:nth-child(1) {
			left: 80px;
		}
		&:nth-child(2) {
			left: 330px;
		}
		&:nth-child(3) {
			left: 600px;
		}
		&:nth-child(4) {
			left: 850px;
		}
	}
}

#vis-temas {
	#legendas {
		margin-top: 2em;
		text-align: center;
		.col {
			display: inline-block;
			box-sizing: border-box;
			width: 270px;
			border: 1px solid #fff;
			text-align: center;
			padding-left: 1em;
			&:first-child {
				margin-right: 200px;
			}
			h3 {
				color: #fff;
				font-weight: 400;
				span {
					display: block;
					font-size: .8em;
					font-style: italic;
				}
			}
		}
	}
	#msg {
		text-align: center;
		margin-top: 4em;
		font-size: .9em;
		font-weight: 400;
		font-style: italic;
	}
}

.arc {
	opacity: .5;
}