// tela nuvem de palavras

#vis-time {
	.col {
		display: inline-block;
		box-sizing: border-box;
		overflow: hidden;
		width: 500px;
		height: 300px;
		position: relative;
		text-align: left;
		padding-left: 1em;
		margin-left: 20px;
		&:first-child {
			margin-left: 0;
		}
		h3 {
			color: #fff;
			font-weight: 400;
			span {
				display: block;
				font-size: .8em;
			}
		}
		p {
			padding: .6em 1em;
			margin: 0;
			&.even {
				color: #000;
				background: url('../img/bg_transp.png') 0 0 repeat;
			}
		}
	}
}