/*

	Estilos Ferramenta Olimpíadas
	-----------------------------
	Pierre Dechery | 07-2016

*/
body {
  font-family: sans-serif;
}
/*
	
	Container HTML

*/
.container {
  margin: 0 auto;
  width: 1000px;
  border: 1px solid #ccc;
}
/*
	
	Container Vis

*/
#chart {
  width: 1000px;
  height: 500px;
}
/*
	
	Menu Switch Paths

*/
#chart + ul {
  text-align: center;
}
#chart + ul li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  border-radius: .8em;
  padding: .6em;
  color: #fff;
}
#chart + ul li:nth-child(1) {
  background-color: #1f77b4;
}
#chart + ul li:nth-child(2) {
  background-color: #ff7f0e;
}
#chart + ul li:nth-child(3) {
  background-color: #2ca02c;
}
/*
	
	D3 eixos

*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
/*

	Shape

*/
.area {
  opacity: .5;
  transition: opacity 0.5s ease-out;
}
.area.off {
  opacity: 0;
}
/*

	Dots

*/
.group.off {
  opacity: 0;
}
.group.monitoramento circle {
  fill: #1f77b4;
}
.group.seguranca circle {
  fill: #ff7f0e;
}
.group.transportes circle {
  fill: #2ca02c;
}
.group circle {
  opacity: .5;
}
.d3-tip {
  font-size: 1.4em!important;
  line-height: 1.2em!important;
}
